* {
	margin: 0;
	padding: 0;
}

/*Тут типа общие классы*/

.logoContainer {
	display: flex;
	font-weight: 400;
	font-size: 22px;


	line-height: 65px;
	/*Высота линии для того чтобы стоять по вертикале на центре (возможно решение неправильное, но работает)*/

	color: #333333;
	gap: 18px;

	flex-wrap: wrap;
}
.logoText {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: #333333;
}
.headerContrainer {
	padding: 24px 250px 0 250px;
	max-width: 1230px;
}
.headerInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.navList {
	list-style-type: none;
	display: flex;
	gap: 34px;
}
.navItem a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.navItem a:hover {
	color: #bbb;
}

.navDrop {
	background-color: white;
	color: white;
	padding: 5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: black;
	transition: 0.3s;
}
.navDrop:hover {
	background-color: #bbb;
}

.navButton {
	display: none;
}

.navButton a:hover {background-color: #ddd;}

.dropContent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropContent a {
	color: black;
	padding: 12px 0;
	text-decoration: none;
	display: block;
	text-align: center;
}
.show {
	display: block;
	margin: 30px 0 0 0;
}

@media (max-width: 670px) {
	.headerContrainer {
		padding: 24px 30px 0;
	}
	.navButton {
		display: flex;
		text-align: right;
	}
	.nav {
		display: none;
	}
	.dropContent {
		min-width: 60px;
	}
}
@media (max-width: 1100px) {
	.headerContrainer {
		padding: 24px 30px 0;

	}
}
/*Тут типа хедер*/

.wrapper {
	background-image: url(../img/Frame.svg); /*Хз почему если no-repeat сделать вся картинка пропадает*/
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	background-size: cover;
	padding: 101px 0;
}
.wrapperContainer {
	max-width: 100%;

	margin: 0 auto;
}
.wrapperInner {
	text-align: center;
	color: white;
}
.wrapperH1 {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 55px;
}
.wrapperP {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	padding-top: 37px;
}
#wrapper::after {
	display: block;
	content: '';
	background: #FFFFFF;
	height: 2px;
	width: 80px;
	margin: auto;
	margin-top: 28px;
}

/*Типа wrapper*/

.underWrapper {
	background-color: #FEFEC9;
	height: 100%;
}
.underWrapperImage {
	position: absolute;
	left: calc(50% - 52px/2);
	transform:translate(0, -48%);
}
/*крч старец пойми меня я не знаю как почему и зачем этот крестик, он по центру не трогай*/
/*адаптив крестика*/





.underWrapperText {
	padding: 60px 0 40px 0;
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
}
.underText {
	text-align: center;
}
.underWrapperButton {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	padding-bottom: 62px;
}
.underWrapperButton button {
	background-color: #FEFEC9;
	border-radius: 1px;
	padding: 13px 34px 20px 34px;
}

/*Как-то так только крестик нужно переместить (по идее должно сразу на места встать)*/
/*Это underWrapper*/

.methods {
	padding: 69px 0 69px 0;
	text-align: center;
}
.methodsHeader {
	text-align: center;
}
.methodsHeader::after {
	display: block;
	content: '';
	background:#00000017;
	height: 2px;
	width: 80px;
	margin: auto;
	margin-top: 28px;
}
.methodsInner {
	padding: 43px 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.methodsH2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;

	padding-top: 38px;
}
.methodsText {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #333333;

	padding: 20px 20px 0 20px;
}
.methodsInnerItem {
	height: 368px;
	width: 320px;
}

/*Эта общие классы для методов (картинки с подписями SET A TARGET, DESIGN A SOLUTION, TRACK THE PROGRESS)*/

.projects {
	background-color: #F5F5F5;
	height: 100%;
	padding: 70px 0;
}
.projectsH1 {
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;

	padding: 0 0 28px 0;
}
.projectsH1::after {
	display: block;
	content: '';
	background:#00000017;
	height: 2px;
	width: 80px;
	margin: auto;
	margin-top: 28px;
}
.projectRow {
	padding-bottom: 20px;
	justify-content: center;
	display: flex;
	gap: 20px;

	flex-wrap: wrap;
}
.project {
	height: 384px;
	width: 300px;
	display: inline-block;
	background: #FFFFFF;

	transition: 1s;
}

.project:hover {
	transform: scale(1.1);
}

/*Конкретная карточка с картинкой*/

.projectsH2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;

	padding: 19px 0 4px 0;
}
.projectsText {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #333333;
}

/*Примеры проектов и их картинки*/

.teamH1 {
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;

	padding: 79px 0 28px 0;
}
.teamH1::after {
	display: block;
	content: '';
	background:#00000017;
	height: 2px;
	width: 80px;
	margin: auto;
	margin-top: 28px;
}
.personalTeam {
	justify-content: center;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.personal {
	display: inline-block;
	background: #FFFFFF;
}
.personalFullname {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;

	padding: 19px 0 4px 0;
}
.personalPost {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #333333;
	padding-bottom: 29px;
}
.personalSocialNetworks {
	justify-content: center;
	display: flex;
	gap: 6px;
}
.personalSocialImage {
	background: #F5F5F5;
	width: 29px;
	height: 14px;
	text-align: center;
}

/*Персонал*/


.mySlides {
	display: flex;
	justify-content: center;
	gap: 0;
	flex-wrap: wrap;
}

.prev, .next {
	cursor: pointer;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.sliderButton {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (max-width: 430px) {
	.sliderButton {
		display: none;
	}
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(70, 70, 70, 0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
/*Анимация переключения слайдера*/

.slider {
	height: 100%;
	padding-top: 140px;
	text-align: center;

	padding-bottom: 70px;
}
.sliderReview {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 33px;
	color: #333333;

	padding: 2px 54px 24px 54px;
}
.reviewCreator {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ABABAB;

	padding-top: 10px;
}
.sliderContainer {
	padding-top: 67px;
	display: flex;
	justify-content: center;
}
.sliderContent {
	width: 320px;
	height: 100%;
}
.sliderWand {
	width: 2px;
	height: 215px;
	background: rgba(0, 0, 0, 0.04);
}
@media (max-width: 911px) {
	.sliderWand {
		display: none;
	}
}

/*слайдер с отзывами*/

.contacts {
	background-image: url(../img/contacts/background.svg); /*Хз почему если no-repeat сделать вся картинка пропадает*/
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	background-size: cover;

	padding-bottom: 70px;
}
.contactsH1 {
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;

	padding: 79px 0 0 0;
}
.contactsH1::after {
	display: block;
	content: '';
	background:#00000017;
	height: 2px;
	width: 80px;
	margin: auto;
	margin-top: 28px;
	margin-bottom: 43px;
}
.contactsRow {
	justify-content: center;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.contact {
	display: inline-block;
	width: 320px;
	height: 100%;
}
.contactH2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;

	padding: 26px 0 20px 0;
}
.contactText {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #212121;
}
.contactsImage {
	text-align: center;
}

#email {
	padding-bottom: 22px;
}

.contactContainer {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	color: #212121;
	width: 201px;
	margin-left: 110px;
}
/*Этот класс только для сердечка и его текста (социалки)*/

/* Отступ между строками */
.ContactSocialImages {
	padding-right: 9px;
}

/*LET’s Get in touch социалки, адреса и тд*/

.footerMenu {
	height: 100%;
	background: #000000;
	border-radius: 0px;
}
.footerContainer {
	height: 100%;
	padding: 69px 0;

}
.footerForm {
	text-align: center;
	margin: auto;
	width: 564px;
}
/*650*/
@media (max-width: 650px) {
	.footerForm {
		margin: 0;
		width: 320px;
	}
	.footerInput {
		max-width: 250px;
	}
}

.footerForm::-moz-placeholder { color: white;}
::-webkit-input-placeholder { color: white;}

/*Отвечает за цвет текста в input*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Убирает кнопки в input (Сделанно для type number)*/

/*input:focus::placeholder {*/
/*	transform: translateY(-10px);*/
/*}*/

/*/!!!Можно будет побаловаться с этим*/

.footerInput {
	height: 57px;
	width: 564px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0px;
	border: 0;
	padding-left: 31px;

	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
}
.footerFormBtn {
	display: flex;
	padding-top: 22px;
	justify-content: center;
}
.footerBtn {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #8BCAC3;

	height: 53px;
	width: 210px;
	border: 1px solid #7EC4BD;
	background: black;

	/*margin: auto;*/
	/*Как бы работает но по идее через flexboxы должно работать а не работает дядя богдан пизды даёт за такое*/
}
#textArea {
	padding-top: 17px;
	height: 127px;
}
.InputColor {
	background: rgba(255, 255, 255, 0.18);
}


/*Форма для заполнения и кнопка*/


.logoFooter {
	text-align: center;
	padding: 40px 0 14px 0;
}
.footerText {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
}

/*Футер*/
